html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Important for consistent box model */
}
*,
*::before,
*::after {
    box-sizing: inherit; /* Elements will inherit box-sizing from their parent */
}
html {
    font-size: 16px; /* Base font size */
}


h1 {
    font-size: 2.5rem; /* 2.5 * 16px = 40px */
    margin-bottom: 0.5em; /* Relative to H1's font size */
}

h2 {
    font-size: 2rem; /* 2 * 16px = 32px */
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.5rem; /* 1.5 * 16px = 24px */
}

p {
    font-size: 1rem; /* 1 * 16px = 16px */
}
body {
background-color: #f4f4f4;
color: #333;
font-size: 16px;
line-height: 1.5;
}
.container {
    width: 80vw;
height: 80vh;
margin: 1em auto;
background-color: #fff;
padding: 10px;
box-shadow: 0 0 10px #0000001a;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;

}
.container h1{
margin: 0 auto 20px auto;
padding: 5px;
display: flex;
justify-content: center;
align-items: center;
width: 100%;

}
.categories,.game-status {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}
.category-card {
    padding: 10px 15px;
    border: none;
    background-color: gray;
    color: black;
    cursor: pointer;
    border-radius: 4px;
   transition: transform 0.3s ease-in-out,letter-spacing .2s ease-in-out,
   box-shadow .2s ease-in-out, color .2s ease-in-out;
}
.animals {
    background: linear-gradient(135deg, #4CAF50, #8BC34A);
    transition: transform 0.3s ease-in-out,letter-spacing .2s ease-in-out,
    box-shadow .2s ease-in-out, color .2s ease-in-out; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.fruits {
    background: linear-gradient(135deg, #FF9800, #FFC107);
    transition: transform 0.3s ease-in-out,letter-spacing .2s ease-in-out,
    box-shadow .2s ease-in-out, color .2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.countries {
    background: linear-gradient(135deg, #03A9F4, #2196F3);
    transition: transform 0.3s ease-in-out,letter-spacing .2s ease-in-out,
    box-shadow .2s ease-in-out, color .2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movies {
    background: linear-gradient(135deg, #673AB7, #9C27B0);
    transition: transform 0.3s ease-in-out,letter-spacing .2s ease-in-out,
    box-shadow .2s ease-in-out, color .2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.category-card h2 {
    margin: 0;
    font-size: 1.5em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    color: white;
    transition: letter-spacing .2s ease-in-out,
   color .2s ease-in-out;
}
.category-card h2:hover{
    color: chartreuse;
    letter-spacing: 2px;
}
.category-card:hover,
.movies:hover,
.countries:hover,
.fruits:hover,
.animals:hover
 {
    transform: scale(1.1);   
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#message {
    margin-right: 20px;
    color: green;
    padding: 15px;
}
#remainingAttempts {
    color: red; 
    padding: 15px;
}
 .hangman-board {
display: flex;
justify-content: center;
margin-bottom: 20px auto;
width: 30%;
height: 70%;
}
.hangman-figure {
flex: 1;
display: inline-block;
position: relative;
width: 300px;
height: 300px;


}
.word-display{
    width: 45%;
    padding: 15px;
    margin: 10px;
    height: 70%;
}
.word {
display: flex;
justify-content: center;
align-items: center;

margin: 10px auto;
margin-bottom: 20px;

}
.keyboard {
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 90%;
padding: 10px;
margin: 5px auto;
}
.keyboard-row{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.row-home,.row-bottom {
justify-content: center;
}
.key {
margin: 5px;
padding: 10px 15px;
border: none;
background-color: #f4f4f4;
cursor: pointer;
border-radius: 4px;
transition: background-color 0.2s ease, transform 0.1s ease, box-shadow 0.1s ease;
}
.key:hover {
background-color: #333;
transform: scale(1.1);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
color: #fff;
}
.letter, .placeholder {
margin: 0 5px;
font-size: 2em;
font-weight: bold;
display: inline-block;
width: 30px;
border-bottom: 2px solid 333;
text-align: center;
}
