html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Important for consistent box model */
}
*,
*::before,
*::after {
    box-sizing: inherit; /* Elements will inherit box-sizing from their parent */
}
html {
    font-size: 16px; /* Base font size */
}


h1 {
    font-size: 2rem; /* 2.5 * 16px = 40px */
    margin-bottom: 0.5em; /* Relative to H1's font size */
}

h2 {
    font-size: 2rem; /* 2 * 16px = 32px */
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.5rem; /* 1.5 * 16px = 24px */
}

p {
    font-size: 1rem; /* 1 * 16px = 16px */
}
body {
background-color: #f4f4f4;
color: #333;
font-size: 16px;
line-height: 1.5;
}
.container {
    width: 80vw;
height: 90vh;
margin: 1em auto;
background-color: #fff;
padding: 10px;
box-shadow: 0 0 10px #0000001a;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 10px;

}
.container h1{
margin: 0 auto 20px auto;
padding: 5px;
display: flex;
justify-content: center;
align-items: center;
width: 100%;

}
.categories,.game-status {
    width: 100%;
    display: flex;
    height: 12%;
    justify-content: center;
    margin-bottom: 5px;
    gap: 5px;
}
.category-card h2 {
    margin: 0;
    font-size: 1.5em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    color: white;
    transition: letter-spacing .2s ease-in-out,
   color .2s ease-in-out;
}
.category-card h2:hover{
    color: chartreuse;
    letter-spacing: 2px;
}
.category-card:hover,
.movies:hover,
.countries:hover,
.fruits:hover,
.animals:hover
 {
    transform: scale(1.1);   
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.animals {
    background: linear-gradient(135deg, #4CAF50, #8BC34A);
    transition: transform 0.3s ease-in-out,letter-spacing .2s ease-in-out,
    box-shadow .2s ease-in-out, color .2s ease-in-out; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.fruits {
    background: linear-gradient(135deg, #FF9800, #FFC107);
    transition: transform 0.3s ease-in-out,letter-spacing .2s ease-in-out,
    box-shadow .2s ease-in-out, color .2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.countries {
    background: linear-gradient(135deg, #03A9F4, #2196F3);
    transition: transform 0.3s ease-in-out,letter-spacing .2s ease-in-out,
    box-shadow .2s ease-in-out, color .2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.movies {
    background: linear-gradient(135deg, #673AB7, #9C27B0);
    transition: transform 0.3s ease-in-out,letter-spacing .2s ease-in-out,
    box-shadow .2s ease-in-out, color .2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.inactive {
    background-color: grey;     
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    pointer-events: all;

}
.game-status {
    justify-content: center;
    width: 100%;
    margin: 0 auto;

}

#message {
    margin-right: 20px;
    color: black;
    padding: 15px;
    border-right: 2px solid #03A9F4;
    padding: 5px;
    border: solid 2px  grey;
    background-color: white;
    border-radius: 5px;

}
#remainingAttempts {
    color: green; 
    padding: 15px;
}
.remainingAttempts-number {
    font-weight: bold;
    font-size: 1.2em;
    color: tomato;
}
 .hangman-board {
display: flex;
justify-content: center;
margin: 0 20px 20px  10px;
width: 30%;
height: 70%;
}
.hangman-figure {
flex: 1;
display: inline-block;
position: relative;
width: 300px;
height: 300px;
    border: solid 2px #03A9F4;


}
.word-display{
    width: 45%;
    padding: 15px;
    margin: 10px;
    height: 70%;
}
.word {
display: flex;
justify-content: center;
align-items: center;

margin: 10px auto;
margin-bottom: 20px;

}
.keyboard {
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 90%;
padding: 10px;
margin: 5px auto;
}
.keyboard-row{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.row-home,.row-bottom {
justify-content: center;
}
.key {
margin: 5px;
padding: 10px 15px;
border: none;
background-color: #f4f4f4;
cursor: pointer;
border-radius: 4px;
transition: background-color 0.2s ease, transform 0.1s ease, box-shadow 0.1s ease;
}
.key:hover {
background-color: #333;
transform: scale(1.1);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
color: #fff;
}
.letter, .placeholder {
margin: 0 5px;
font-size: 1.5em;
font-weight: bold;
display: inline-block;
width: 30px;
border-bottom: 2px solid 333;
text-align: center;
}
.letter{
    border-bottom: solid 4px #2196F3;
    margin-top: 10px;
}
.spacer {
    width: 30px;
    margin: 0 5px;
font-size: 2em;
font-weight: bold;
display: inline-block;
width: 30px;
border-bottom: 2px solid 333;
text-align: center;
}


.notification-modal {
    position: fixed;
    top: 100px;
    left: 60%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 20px 15px rgba(0, 0, 0, 0.3);
    font-size: 1.2em;
    z-index: 1000;
    display: none; /* Hidden by default */
    width: 40vw;
    height: 50vh ;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.close-btn{
    position: absolute;
    top: 0;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}
.notification-content {
    text-align: center;
    margin: 30px auto 5px autos;
    padding: 10px;
    height: 85%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.notification-content h2,.notification-content p {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    font-size: 2em;
}   
.play-again-btn{
    margin: 5px auto 10px auto;
    padding: 10px;
    background-color: #2196F3;
    border: none;
    color: #fff;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    height: 10%;
    transition: transform 0.2s ease, background-color 0.2s ease,color 0.2s ease,letter-spacing .2s ease-in-out;
}
.close-btn:hover,
.play-again-btn:hover {
    background-color: gray;
    transform: scale(1.05);
    color: greenyellow;
    letter-spacing: 10p;
}       

.hidden {
    display: none;
}
.show {
    position: fixed;
    top: 100px;
    left: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 75vh;
}

#message-element{
  background: linear-gradient(135deg, #151616, #07070775);
    box-shadow: 0 13px 20px rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    font-size: 1.2em;
    color: greenyellow;
    text-transform: uppercase;
    cursor: none;
      position: absolute;
    right: -100%; /* Start off-screen to the right */
    transform: translateX(0); 
    opacity: 0; 
    z-index: 1000;
} 


.hide {
    opacity: 0;
    right: -100%;
}

.slide-in-out {
    transition: all 0.6s ease-in-out; 
    animation: slide-message 4s forwards; 
}

@keyframes slide-message {
    0% {
        /* Start: Off-screen right */
        right: 70%;
        opacity: 0;
    }

    /* staying the same */
    10% {
        right: 60%; 
        transform: translateX(15%); 
        opacity: 1;
    }
    90% {
        right: 60%;
        transform: translateX(15%);
        opacity: 1;
    }
    /* staying the same */


    100% {
        /* Slide Out: Move back off-screen to the right */
        right: 70%;
        opacity: 0;
    }
}
